<form action="<%= users_url %>" method="post">

    <label for="username"> Username:
    </label>
    <input id="username" type="text" name="user[username]">

    <br />

    <label> Email:
        <input type="text" name="user[email]">
    </label>

    <br />

    <label> Age:
        <input type="text" name="user[age]">
    </label>

    <br />

     <label> Password:
        <input type="password" name="user[password]">
    </label>

    <br />

    <input type="submit" value="Sign Up">


</form>


